{% extends 'header.html' %}

{% block body %}

		<div class="container">
			<div id="userlistcontainer">
				<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>ID</th>
							<th>Username</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Authority</th>
							<th>Active</th>
						</tr>
					</thead>
					<tbody>
		
						{% for t in USER_LIST %}
						<tr>
							<td>{{t["ID"]}}</td>
							<td>{{t["username"]}}</td>
							<td>{{t["name"]}}</td>
							<td>{{t["surname"]}}</td>
							<td>{{t["email"]}}</td>
							<td>{{t["telephone"]}}</td>
							<td>{{t["authority"]}}</td>
							<td>{{t["active"]}}</td>
						</tr>
						{% endfor %}
							
		
					</tbody>
				</table>
			</div>	
		</div>

{% endblock %}