{% extends 'header.html' %}

{% block body %}

		<div class="container">

			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Email</th>
						<th>Telephone</th>
						<th>Authority</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
	
					{% for t in values %}
					<tr>
						<td>{{t.get_id()}}</td>
						<td>{{t.get_username()}}</td>
						<td>{{t.get_name()}}</td>
					</tr>
					{% endfor %}
						
	
				</tbody>
			</table>
				
		</div>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').DataTable();
			} );
		</script>
		<script type="text/javascript">
			// For demo to fit into DataTables site builder...
			$('#example')
				.removeClass( 'display' )
				.addClass('table table-striped table-bordered');
		</script>
{% endblock %}