{% extends "header.html" %}

{% block body %}



	<div class="container">
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/register/">
			<table style="border-spacing:10px; width:40%: text-align:center">
				<tr>
					<td>{{ render_field(form.username) }} <br></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>{{ render_field(form.email) }}<br></td>
				</tr>
				<tr>
					<td>{{ render_field(form.name) }} <br></td>
					<td>&nbsp;</td>
					<td>{{ render_field(form.surname) }}<br></td>
				</tr>
				<tr>
					<td>{{ render_field(form.telephone) }} <br></td>
					<td>&nbsp;</td>
					<td>{{ render_field(form.doorkey) }}<br></td>
				</tr>
				<tr>
					<td>{{ render_field(form.password) }} <br></td>
					<td>&nbsp;</td>
					<td>{{ render_field(form.confirm) }}<br></td>
				</tr>
				<tr style="text-align:center">			
					<td colspan="3"><input type=submit value=Register></td>
				</tr>
			</table>
			<dl>

			</dl>
			
		</form>
		
		{% if error %}
			<p class="error"><strong>Error: </strong>{{error}}</p>
		{% endif %}
		
	</div>


{% endblock %}